<button mat-button [matMenuTriggerFor]="menuFilms">Films</button>
<mat-menu #menuFilms="matMenu">
  <button mat-menu-item routerLink="/films/recents">Récents</button>
  <button mat-menu-item routerLink="/films/categories">Catégories</button>
  <button mat-menu-item routerLink="/films/discover">Decouvrir</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menuSeries">Séries</button>
<mat-menu #menuSeries="matMenu">
  <button mat-menu-item>Recents</button>
  <button mat-menu-item>Categories</button>
</mat-menu>

