Films :

<table mat-table [dataSource]="movies" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Identifiant </th>
    <td mat-cell *matCellDef="let movie"> {{movie.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<BR/>
<BR/>

Ajouter films :
<BR/>

<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Titre du film" [(ngModel)]="titleToAdd">
</mat-form-field>
<button mat-button (click)="addMovie()">Ajouter</button>

<BR/>
<BR/>

<!--
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let movie of movies">
  <app-library-card [movie]="movie"></app-library-card>
  </mat-grid-tile>
</mat-grid-list>
-->

